html, body, h3 {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-family: 'Quicksand', sans-serif;
}

header {
  padding: 2em;
}

.img1 {
  height: 200px;
}

header, aside {
  background-color: rgb(186, 237, 253);
}

h1, h3 {
  font-family: 'Times New Roman', Times, serif;
}

section {
  display: grid;
  grid-template-columns: auto 1fr;
  padding-bottom: .2em;
}

h1, .tagline {
  color: #47a;
}

.nummer {
  background-color: #47a;
  color: #eee;
  font-size: 3em;
  width:1.2em;
  text-align: right;
  padding:.2em;
}

article {
  padding: 1em;
}

section img {
  max-width: 100%;
}

aside ol {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: rgb(186, 237, 253);
}

aside h3 {
  background-color: #47a;
  color: #eee;
  padding: 2em;
}

aside a {
    text-decoration: none;
    padding: 2em;
    display: block;
    color:rgb(5, 43, 80);
}

aside a:hover{
  color: #fff;
  background-color: #47a;
}

footer {
  background-color: #333;
  color: #eee;
  padding: 2em;
}

aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 760px) {
  .afb {
    display: block;
    background-image: url('img/presentatie.jpg');
    background-size: cover;
    background-position: center center;
  }

  body {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-areas: 
    "kop kop"
    "t1 t2"
    "t3 t4"
    "afb t5"
    "afb t6"
    "t7 aside"
    "t8 aside"
    "t9 aside"
    "t10 aside"
    "voet voet";     
  }

header {grid-area: kop;}
.teveelinfo {grid-area: t1;}
.kleuren {grid-area: t2;}
.afb {grid-area: afb;}
.consistent {grid-area: t3;}
.bullet {grid-area: t4;}
.visueel {grid-area: t5;}
.animaties {grid-area: t6;}
.powerpointslide {grid-area: t7;}
.contrast {grid-area: t8;}
.template {grid-area: t9;}
.tegenslag {grid-area: t10;}
aside {grid-area: aside;}
footer {grid-area: voet;}

h1 {
  font-size: 2.6em;
}

.visueel_article {
  display: grid;
  grid-template-columns: 1fr 1fr; 
}
.agenda_article h3 {
  grid-column: span 2;
}
footer {
  display: grid;
  grid-template-columns: 1fr auto;
} 
}

@media screen and (min-width: 1000px) {
  body {
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-areas: 
    "kop kop kop"
    "t1 t2 afb"
    "t3 t4 afb"
    "aside t5 t6"
    "aside t7 t8"
    "aside t9 t10"
    "voet voet voet";     
  }
}